body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #1E1F26;
    
}

#dice1, #dice2{
    width: 200px;
    height: 200px;
    border-radius:  20px;
   
}

 .reloder{
    animation: rotating 0.5s linear;
}

@keyframes rotating {
    from{ transform: rotate(0deg);}
    to { transform: rotate(360deg);}    
}

.container{
    display: flex;   
    gap: 50px;
    background-color: #FFCE00;
    height: 550px;
    width: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   box-shadow: 5px 5px 22px black;
   
}

.refreshMe{
    position: absolute;
    margin-bottom: 377px;
}


.refT{
  font-family: "Merienda", cursive;
  font-size: 55px;
  color: #154D71;
  font-weight: 800;
}

.pl{
margin-right: 60px;
}

.di{
    margin-left: 60px;
}

.pl, .di{
font-family: "Merienda", cursive;
font-size: 66px;
color: #FF3B3F;
}