body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

#dice1, #dice2{
    width: 200px;
    height: 200px;
    border-radius:  20px;
   
}

 .reloder{
    animation: rotating 0.5s linear;
}

@keyframes rotating {
    from{ transform: rotate(0deg);}
    to { transform: rotate(360deg);}    
}

.container{
    display: flex;   
    gap: 50px;
    background-color: #F7F4EA;
    height: 550px;
    width: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   position: relative;
}

.rolldice{
    position: absolute;
    margin-top: 460px;
    width: 150px;
    height: 45px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
}